@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Concert+One&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

h1, h2, h3, h4, h5, h6 {
    font-family: 'Abril Fatface', cursive;
}

body {
  margin: 0;
  font-family: 'Inter', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  line-height: 210%;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.chart-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px 0;
}

.chart-title-main {
  font-family: 'Abril Fatface', cursive;
  text-align: left;
  font-size: 45px;
  letter-spacing: 4px;
  line-height: 140%;

}

.legend {
  display: flex;
  gap: 10px;
  margin-top: 10px;
}

.legend-item {
  display: flex;
  align-items: center;
}

.legend-color {
  width: 15px;
  height: 15px;
  margin-right: 5px;
}

svg {
  overflow: visible;
}

.container {
  max-width: 1500px;
  margin: 0 auto;
  padding: 20px;
}

.custom-row {
  display: flex;
  flex-wrap: wrap;
  margin: 20px 0;
}

.custom-col-6 {
  width: 50%;
  padding: 20px;
  box-sizing: border-box;
}

.custom-col-6-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.text-centered {
  text-align: center;
  margin-top: 20px;
}

.chart-title {
  font-family: 'Inter', sans-serif;
  font-size: 24px;
  font-weight: bold;
  text-align: center;
  margin-bottom: 40px;
  display: none;
}

h3 {
  font-family: 'Inter', sans-serif;
  font-size: 20px;
  font-weight: bold;
}

p {
  font-family: 'Inter', sans-serif;
  font-size: 16px;
  line-height: 1.6;
}

img.svg-image {
  max-width: 100%;
  height: auto;
  display: block;
  margin: 0 auto;
}

.bubble {
  transition: transform 0.3s ease; /* Smooth transition */
}

.bubble:hover {
  transform: scale(1.2); /* Scale effect on hover */
}